@import './normalize.css';

body{
    background-color: #FDF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    width: 80%;
    margin: auto;
}

.container{
    background-color: #CBC;
    border-radius: 0.2em;
    display: flex;
    flex-wrap: wrap;
}

.product{
    margin: auto;
    display: flex;
    justify-content: center;
    width: 80%;
    gap: .6em;
}

.container > .product{
    margin-top: .8em;
}

.product a {
    text-decoration: none;
    color: black;
    text-align: center;
}